VITE_TMDB_READ_API_KEY=eyJhbGciOiJIUzI1NiJ9.eyJhdWQiOiJiN2EzMDhjOTlkYzY0MzgyZjM4YjQ4YzczNzQyNGI3NSIsIm5iZiI6MTc1NjY0OTE1Mi44MTUsInN1YiI6IjY4YjQ1NmMwZmM3YjlkOTEyNjllMWRiNiIsInNjb3BlcyI6WyJhcGlfcmVhZCJdLCJ2ZXJzaW9uIjoxfQ.qfLKAiHYq003M_KkRWOcwTYguRa-wCnfKBFn9UaPW8c
VITE_OPENSEARCH_ENABLED=false

# make sure the cors proxy url does NOT have a slash at the end
VITE_CORS_PROXY_URL=...

# make sure the m3u8 proxy url does NOT have a slash at the end. THIS IS A TEMPORARY PROXY. WILL SOON BE INEGRATED INTO THE CORS PROXY
VITE_M3U8_PROXY_URL=...

# make sure the domain does NOT have a slash at the end
VITE_APP_DOMAIN=http://localhost:5173
